@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "karla";
  src: url(../public/fonts/Karla-VariableFont_wght.ttf);
}
@font-face {
  font-family: "manrope";
  src: url(../public/fonts/Manrope-VariableFont_wght.ttf);
}

* {
  font-family: "manrope";
}
.font-karla {
  font-family: "karla";
}

html::-webkit-scrollbar {
  background-color: lightgray;
  width: 7px;
  height: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border-radius: 10px;
}

.tab::-webkit-scrollbar {
  background: transparent;
  height: 5px;
}
.tab::-webkit-scrollbar-thumb {
  background-color: rgb(54, 54, 54);
}
